test_data/*.bsp filter=lfs diff=lfs merge=lfs -text
test_data/*.bc filter=lfs diff=lfs merge=lfs -text
test_data/*.bpc filter=lfs diff=lfs merge=lfs -text
test_data/*.hdf5 filter=lfs diff=lfs merge=lfs -text
